html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-container {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    background: var(--color-light);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container input,
.contact-container textarea {
    border: 2px solid var(--color-dark);
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
    background: transparent;
    color: var(--color-dark);
    resize: none;
}

.contact-container button {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);
}

.contact-container button:hover {
    background: var(--color-dark);
    color: var(--color-primary);
}

footer {
    background: var(--color-light);
    padding: 2rem;
    text-align: center;
    color: var(--color-dark);
    margin-top: auto;
}

/* ------------------ MAX-WIDTH : 1024px ---------------- */
@media (max-width: 1024px) {
    .contact-container {
        width: 70%;
    }
}

/* ------------------ MAX-WIDTH : 768px ---------------- */
@media (max-width: 768px) {
    .contact-container {
        width: 80%;
    }
}

/* ------------------ MAX-WIDTH : 600px ---------------- */
@media (max-width: 600px) {
    .contact-container {
        width: 90%;
    }
}