header {
    height: 100vh;
    overflow: hidden;
}

.header-container {
    display: grid;
    grid-template-columns: 34% auto;
    align-items: center;
    padding: 40px;
    gap: 4rem;
    height: 100%;
    position: relative;
}

.header-container::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--color-primary);
    position: absolute;
    z-index: -1;
    left: -80%;
}

.header-container img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid var(--color-white);
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header-right {
    width: 90%;
    max-width: 700px;
}

.header-right h1 {
    margin-bottom: 1.4rem;
}

.type-animation {
    color: var(--color-dark);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    gap: 8px; /* Giữ khoảng cách giữa text và icon */
}

.btn:hover {
    background: var(--color-primary-dark);
    transform: scale(1.05);
}

.btn svg {
    font-size: 1.2rem; /* Điều chỉnh kích thước icon */
}


/* ------------------ MAX-WIDTH : 768px ---------------- */
@media (max-width: 768px) {
    .header-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .header-container::before {
        transform: rotate(-54deg);
        left: 26%;
        top: -40%;
    }
    .header-container img {
        width: 70%;
        margin: 0 auto;
    }
    .header-right {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin-top: 2.5rem;
    }
    .btn {
        width: 80%;
        padding: 14px 0;
        font-size: 1.1rem;
    }
}

/* ------------------ MAX-WIDTH : 600px ---------------- */
@media (max-width: 600px) {
    .header-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .header-container::before {
        transform: rotate(-54deg);
        left: 26%;
        top: -40%;
    }
    .header-container img {
        width: 80%;
        margin: 0 auto;
    }
    .header-right {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin-top: 2rem;
    }
    .btn {
        width: 100%;
        padding: 16px 0;
        font-size: 1.2rem;
    }
}