.heading-text{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 4rem;
}

.heading-text span{
    color: var(--color-primary);
}

/* ------------------ MAX-WIDTH : 1024px ---------------- */
@media (max-width:1024px) {
    .heading-text{
        font-size: 2.2rem;
    }
}

/* ------------------ MAX-WIDTH : 600px ---------------- */
@media (max-width:600px) {
    .heading-text{
        font-size: 1.8rem;
    }
}