.portfolio{
    padding-bottom: 0;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    transition: var(--transition);
}

.project img{
    border-radius: 1rem;
    border: 1px solid var(--color-dark);
}

.project a{
    color: var(--color-primary);
}

.project:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

.project:hover h3, .project:hover a{
    color: var(--color-white);
}

/* ------------------ MAX-WIDTH : 1024px ---------------- */
@media (max-width:1024px) {
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
    }
}

/* ------------------ MAX-WIDTH : 600px ---------------- */
@media (max-width:600px) {
    .portfolio-container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
